*
{
    padding: 0;
    box-sizing: border-box;
    font: 16px/24px 'Poppins', Arial, sans-serif;
}

html
{
    display: flex;
    justify-content: center;
}

body
{   
    max-width: 70%;
    background-color: #040015;
    color: #d6d6d6;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a
{
    text-decoration: none;
    color: #ff725c; 
}

a:hover
{
    color: #e6b200; 
}

.logo
{   
    padding: 0 3vw;
    font-size: 1.5em;
    font-weight: 600;
    color: #ff725c; 
}

nav ul
{   
    display: flex;     
}


nav ul li
{   
    list-style: none;    
}


nav ul li a
{
    font-weight: 500;
}

main
{   
    padding: 4vw 0;
    display: flex;
}

main p
{
    padding: 2.5% 3vw;
    text-align: justify;
    line-height: 2;
}

main h2
{
    padding: 0 3vw;
    font-size: 2.6em;
    font-weight: 700;
    color: #ff725c;
}


main img
{
    width: 35%;
    vertical-align: middle;
}

button
{
    display: inline-block;
    margin: 0 3vw;
    padding: 1vh 1vw;
    font-weight: 600;
    border: 0;
    border-radius: 5%;
    background:  #ff725c;
}

button a
{
    color: #040015;
}